body{
	height:100%;
	width:99%;
	background-color:#0091FF;
	background-color: #40AEBA;
}
#messagesDiv{
	width:50%;
	height:500px;
	border:3px solid #e7e7e7;
	border-radius:5px;
	overflow:auto;
	background-color:#f2f2f2;
	margin-right:auto;
	margin-left:auto;
	overflow:scroll;
}
#messagesDiv{
	font-family:'Nunito';
}
#messagesDiv, #messagebox{
	width:50%;
	margin-right:auto;
	margin-left:auto;
}
#presenceDiv{
	width:15%;
	right:5%;
	top:12%;
	height:50%;
	position:absolute;
	border:3px solid #e7e7e7;

	background-color:#f2f2f2;
	border-radius:5px;
}
#presenceDiv div{
	text-align:center;
}
input[type=text]{
	margin-top:5px;
	font-size:89%;
	height:29px;
	background-color:#f2f2f2;
	border:2px solid #e7e7e7;
	border-radius:3px;
	font-weight:bold;
	color:#575757;
}
.header{
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	font-size:200%;
	font-family:'Nunito';
	width:50%;
	color:white;
}
.bold{
	font-family:'Nunito';
	font-size:125%;
	text-align:center;
}
.footer{
	text-align:center;
	width:50%;
	font-family:'Nunito';
	color:white;
	position:absolute;
	margin-left:-25%;
	bottom:0px;
	left:50%;
}
a{
	color:white;
	text-decoration:none;
	transition:color .4s;
}
a:hover{
	color:orangered;
	text-shadow:1px 1px 1px black;
}
.linkme:hover{
	color:blue;
	text-shadow:1px 1px 1px grey;
}

body::-webkit-scrollbar {
    width: 6px;
    height:6px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#e7e7e7;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius:5px;
}
body::-webkit-scrollbar-button:decrement {
	height:10px;
	background-color:grey;
}
body::-webkit-scrollbar-button:increment:end {
	height:10px;
	background-color:grey;
}

#messagesDiv::-webkit-scrollbar {
    width: 6px;
    height:6px;
}
#messagesDiv::-webkit-scrollbar-thumb {
  	background-color: darkgrey;
 	border-radius:5px;
}